<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  <title>Letermo</title>
</head>
<body>
  <h1>LETERMO</h1>

  <div class="row" id="row{{i+1}}" *ngFor="let gen of generateRows, let i = index">
    <input type="text" id="row{{i+1}}Box1" class="box" value="" readonly>
    <input type="text" id="row{{i+1}}Box2" class="box" value="" readonly>
    <input type="text" id="row{{i+1}}Box3" class="box" value="" readonly>
    <input type="text" id="row{{i+1}}Box4" class="box" value="" readonly>
    <input type="text" id="row{{i+1}}Box5" class="box" value="" readonly>
  </div>

  <app-keyboard
    (LetterSend)="OnSend($event)"
    (delLetter)="Delete()"
    (EnterWord)="EnterWord()"

  >
  </app-keyboard>
</body>
</html>
